<head>
    <script type='text/javascript'>
        function addFields(){
            // Generate a dynamic number of inputs
            var number = document.getElementById("number_labels").value;
            // Get the element where the inputs will be added to
            var connect_vector = document.getElementById("connect_vector");
            // Remove every children it had before
            while (connect_vector.hasChildNodes()) {
                connect_vector.removeChild(connect_vector.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                connect_vector.appendChild(document.createTextNode("Label  " + (i+1)));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "number";
                input.value = "1"
                input.name = "number_labels" + i;
                input.placeholder=" Only Integer!"
                input.min="1"
                input.step=1
                input.pattern="\d*"
                connect_vector.appendChild(input);
                // Append a line break
                connect_vector.appendChild(document.createElement("br"));
            }
            if (number === "") {
                alert("Number of Label's field must be filled out");
                return false;
            }
            else {
                document.getElementById("submit").disabled = false;
            }
        }
    </script>

    <style>
        input[type="number"] {
          width: auto;
          box-sizing: border-box;
          padding: 10px;
          border: 2px solid #000;
        }
    </style>



</head>




<h1>Welcome to Supply Chain Networks Analysis</h1>
<strong> Please fill the form below: </strong>
<br>
<br>
<form id="myForm" action="/get_values" method="POST">
    Number of Supply Chain Networks: <input type="number" name="number_graphs" value="1" min="1" step=1  placeholder="Only Integer!" pattern="\d*"/> </br>

    Number of Firms: <input type="number" name="number_firms" placeholder=" Only Integer!" min="1" step=1 pattern="\d*" required/>

    <br> Number of Products or Supply Chains: <input type="number" name="number_products" placeholder="Only integer!" min="1" step=1  pattern="\d*" required/>

    <br> Radius: <input type="number" name="radius" placeholder="Rational Number (0,1]" step=any min=0 max = 1 /><br>  <em style="font-size: smaller; color: red;"> &nbsp;&nbsp;
    &nbsp; * Between 0 and 1, zero excluded. The default value would be inverse of &radic;Number of Firms</em>

    <br> Number of Labels: <input type="number" id = "number_labels"
                                  name="number_labels" placeholder="Only Integer!"
                                  min="1" step=1 pattern="\d*" required/>
    </br> <em style="font-size: smaller; color: red;"> &nbsp;&nbsp;&nbsp; *Can not be larger than Number of Firms </em>

    <br>
     <br>

    <a href="#" id="filldetails" onclick="addFields()" >Enter Maximum Number of Firms with Label k </a>
    <div id="connect_vector"/></div>

    <em style="font-size: smaller; color: red;"> &nbsp;&nbsp;&nbsp; *Can not be larger than Number of Firms </em>
    <br>
    <br>

    Random Seed: <input type="number" name="seed" value="1" min="1" step=1  placeholder="Only Integer!" pattern="\d*"/> </br>

    <input type="submit" value="Generate Graph"  id="submit" disabled/>
    <br>
</form>

<form action="/initial">
      <input type="submit" value="Reset">
</form>




<br> {% if  err_mes %}
    <div id="err_box" style="color:red; font-weight:bold;">
        Error!:
        {% for para in err_mes %}
            <p>{{para}}</p>
        {% endfor %}
    </div>
{% endif %}

<br> {% if massage %}
    <a href="/download">Download Data</a>
   <div id="display_box" style="color:green; font-weight:bold;">
         {% for para in massage %}
             <p>{{para}}</p>
         {% endfor %}
    </div>
{% endif %}
<br>


{% if pdf_url %}
<iframe src={{pdf_url}} width="50%" height="50%">
  <p>Your browser does not support iframes.</p>
</iframe>
{% endif %}


